.heading-anchor {
  text-decoration: none;
  &:is(:hover, :focus) {
    text-decoration: solid underline var(--border-line);
    text-underline-offset: 0.35rem;
    &:after {
      display: inline-block;
      width: 1em;
      height: 1em;
      background-image: url("/assets/images/link.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60% auto;
      // alternative text rules
      content: "(heading anchor link)";
      overflow: hidden;
      white-space: nowrap;
      text-indent: 1em; // the width of the icon
    }
  }
}
