.prose {
  --region-space-start: var(--space-l-xl);
  --region-space-end: var(--space-l-xl);
  p,
  ul,
  ol {
    max-width: var(--measure);
  }

  & :is(h2, h3, h4, blockquote) {
    --flow-space: var(--space-l-xl);
  }

  & :is(blockquote) + * {
    --flow-space: var(--space-l-xl);
  }

  & :is(h2, h3, h4) + * {
    --flow-space: var(--space-s-m);
  }
}
