<article class="wrapper | region | flow | prose">
  <p class="cta">
    My name is <mark><strong>Jon</strong></mark
    >, a <mark><strong>web developer</strong></mark> and
    <mark><strong>technical writer</strong></mark
    >. I love <mark><strong>punk rock</strong></mark
    >, <mark><strong>accessibility</strong></mark
    >, and <mark><strong>excellent documentation</strong></mark
    >.
  </p>

  <p>
    This site is not tracking you, but you can subscribe to the
    <a href="/feed/feed.xml/">RSS</a> feed if want to track it.
  </p>
</article>
