{% assign currentPage = page.url %}

<a href="#main" class="skip-link | display">{{ metadata.skipContent }}</a>

<header class="region | site-header">
  <div class="wrapper | repel">
    <a class="display" href="/" tabindex="-1" style="text-decoration: none">{{ metadata.title }}</a>
    <nav role="primary">
      <ul class="display" role="list">
        {% for item in navigation %}
        <li>
          {% if currentPage == item.url %}
          <a href="{{ item.url }}" aria-current="page">{{ item.title }}</a>
          {% else %}
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
