{% assign currentPage = page.url %}

<nav class="navbar" role="primary">
  <ul class="display">
    {% for item in navigation %}
    <li>
      {% if currentPage == item.url %}
      <a href="{{ item.url }}" aria-current="page">{{ item.title }}</a>
      {% else %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <span class="display">Menu</span>
    <svg width="24" height="24" aria-hidden="true">
      <path
        d="M12 5V19"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M5 12H19"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</template>
