{% assign listItemHeading = 'h2' %} 

{% if page.url == '/' %} 
{% assign listItemHeading = 'h3' %}
<h2>Latest</h2>
{% endif %}

<ul class="flow | list" role="list">
  {% for post in postslist %}
  <li>
    <{{ listItemHeading }}>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </{{ listItemHeading }}>
    <time datetime="{{post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
  </li>
  {% endfor %}
</ul>

{% if page.url == '/' %} 
<a href="/writing/">View all</a>
{% endif %}